/* ------------------ General tags ------------------ */

body {
  margin: 0;
}

.container {
  padding-top: 40px;
  text-align: center;
}

h1 {
  font-size: 2em;
}

/* ------------------ Navigation ---------------------*/

nav {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.navcontainer-second-li {
  display: inline-block;
}

nav li {
  text-align: center;
  list-style: none;
  width: 100%;
  margin: auto;
  display: none;
}

.navcontainer-second-li {
  display: none;
}

.subnav {
  display: none;
  margin: 0;
}

.subnav-conventions, .subnav-organisations, .searchbar {
  display: none;
}

.subnav-conventions, .subnav-organisations {
  font-size: 70%;
  position: absolute;
}

li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 200%;
}

.menu {
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  display: block;
}

.navcontainer {
  width: 100%;
}

.fa {
  display:none;
}

@media screen and (min-width:651px){

  nav li {
    display: inline-block;
    font-size: 10px;
    margin: 8px 0px;
    width: auto;
  }

  .secondul li:last-child {
    border: none;
  }

  nav li a {
    display: block;
    padding: 0px 10px;
  }

  .menu {
    display: none;
  }

  .subnav {
    display: inline-block;
    border-right: 1px solid black;

  }

  .subnav-conventions li, .subnav-organisations li {
    font-size: 7px;
    display: block;
  }

  .secondul {
    display: inline-block;
  }

  .fa, .fa-arrow-right, .fa-arrow-down {
    display: inline;
    padding-right: 2px;
  }

  .searchbar {
    display: inline-block;
  }

  .li-search {
    float: right;
  }

  .navcontainer {
    margin: auto;
    width: 80%;
  }

  .navcontainer-second-li {
    display: inline-block;
  }
}

/* ------------------- eventcard ------------------- */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.eventcard, .organisationcard {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

.eventheader, .organisationheader {
  display: flex;
  flex-direction: row;
}

.eventheader h4, .organisationheader h4 {
  width: 50%;
  padding: 0% 1%;
}

.eventheader h4:first-child, .organisationheader h4:first-child {
  text-align: left;
}

.eventheader h4:last-child, .organisationheader h4:last-child {
  text-align: right;
}

.eventbody, .organisationbody {
  display: flex;
  flex-direction: row;
}

.eventinfo, .organisationinfo {
  padding: 1%;
}

.eventbody img, .organisationbody img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}


@media screen and (min-width:600px) {

  .organisationsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .eventbody img {
    display: block;
  }

  .organisationbody img {
    display: block;
  }

  .eventinfo {
    width: 70%;
  }

  .organisationinfo {
    width: 100%;
  }

  .organisationcard {
    flex: initial;
    width: 31%;
    margin: 1% 2% 1% 0%;
  }

}

/* ---------------------- map ---------------------- */

#map {
  width: 80%;
  height: 560px;
  margin:auto;
  background-color: grey;
}

/* --------------------- search --------------------- */

.searchoptions {
  display: none;
  position: absolute;
}

.searchoptions li {
  margin: 4px 0px;
  text-align: left;
  padding: 0px 10px;
  color: black;
  width: 100%;
  font-size: 14px;
}

@media screen and (min-width:600px) {
  .searchbar input:focus + .searchoptions {
    display: block;
  }
}

/* -------------------- footer -------------------- */

footer {
  text-align: center;
  font-size: 80%;
  margin-top: 1%;
}

footer p {
  margin: 3px;
}

@media screen and (min-width:600px){
  footer p {
    display: inline-block;
  }
}
